<%- model_class = Job -%>
<div class="page-header">
  <h4><%= @job.job_title %>
    @
    <%= link_to(@job.company_name,@job.url, :target => '_blank' ) %></h4>
  <small><%= model_class.human_attribute_name(:deadline) %>:<%= l(@job.deadline,:format => :short) %></small>
  <small><%= t :created_at %>:<%= l(@job.created_at,:format => :short) %></small>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><%= model_class.human_attribute_name(:job_type) %></div>
  <div class="panel-body"><%= Job.job_hash[@job.job_type]%></div>
  <div class="panel-heading"><%= model_class.human_attribute_name(:location) %></div>
  <div class="panel-body"><%= @job.location %></div>
  <div class="panel-heading"><%= model_class.human_attribute_name(:description) %></div>
  <div class="panel-body"><%= @job.description %></div>
  <div class="panel-heading"><%= model_class.human_attribute_name(:apply) %></div>
  <div class="panel-body"><%= @job.apply %></div>
</div>
<% if current_user && @job.user == current_user %>
  <div class="form-group">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              jobs_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_path(@job), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_path(@job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </div>
<% end %>
