<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <%= viewport_meta_tag %>
    <%= render_page_title %>
    <%= yield :opengraph_meta_tags %>
    <%= csrf_meta_tags %>
    <%= render_body_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <%= bootstrap_flash %>
          <%= yield %>
          <!--     <div class="footer navbar-fixed-bottom center-block">
            <p>&copy; iOSjobs.tw 2014 All rights reserved.</p>
          </div> -->
        </div>
        <div class="col-md-2">
        </div>
      </div><!--/row-->
    </div>
  </body>
  <%= javascript_include_tag "application" %>
</html>
